.main {
  width: calc(100% - 300px);
}

.products-length
{
  font-size: 84%;
  font-weight: 50;
  margin-left: 14px;
}

.product_container
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}