<header class="header">
  <div class="logo">
    <h1 class="logo-h1">ToExoume.gr</h1>
  </div>
  <form action="" class="header-form">
      <label for="toexoume-search" class="header-label">
        <input type="search" id="toxoume-search" class="header-input" placeholder="Αναζήτηση">
      </label>
      <button class="header-search-button" type="button">
        Αναζήτηση
      </button>
  </form>
  <section class="header-section">
    <button style="margin-right: 10px;">
      <span class="material-icons my-icons">
        shopping_cart
      </span>
    </button>
    <button class="header-login">Σύνδεση</button>
  </section>
</header>