<section class="mainsection">
  <img src="<%= config.domain + '/public/images/phone1.png' %>" alt="" class="mainsection-image-left">
  <div>
    <p>Αγόρασε προϊόντα από διαφορετικά καταστήματα</p>
    <strong>με ένα μόνο καλάθι στο ToExoume!</strong>
  </div>
  <img src="<%= config.domain + '/public/images/phone.png' %>" alt="" class="mainsection-image-right">
</section>